<!-- - File Name: about_me.ejs-->
<!-- - StudentID: 301217825-->
<!-- - Student’s Name: Yang Li-->
<!-- - Date: 2021-10-1-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About me</title>
    <!--    custom css-->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!--    bootstrap css-->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <!--    bootstrap js-->
    <script src="/javascripts/bootstrap.min.js"></script>
</head>
<body>
<% include partials/header.ejs %>
<main>
    <section class="py-5 container">
        <div class="card text-center">
            <h5 class="card-header">About me</h5>
            <div class="card-body">
                <h5 class="card-title">Name: Yang Li </h5>
                <img src="/images/me.JPG" style="height: 18em">
                <p class="card-text">Hello, everyone. My name is Yang Li. I'm a Chinese. I have lived in Canada for 5
                    years, and I have been living here since I started my university. I majored in mathematics in the
                    university, but I also minored in some computer content, and I am very interested in computer
                    related knowledge. You are welcome to discuss relevant content or any other content with me. I am
                    happy to chat with you.</p>
                <a href="/assets/Yang_Li_Resume_2.pdf" target="_blank" class="btn btn-primary">Check my resume</a>
            </div>
        </div>
    </section>
</main>
<% include partials/footer.ejs %>
</body>
</html>