<!-- - File Name: style.css-->
<!-- - StudentID: 301217825-->
<!-- - Student’s Name: Yang Li-->
<!-- - Date: 2021-10-1-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!--    custom css-->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!--    bootstrap css-->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <!--    bootstrap js-->
    <script src="/javascripts/bootstrap.min.js"></script>
</head>
<body>
<% include partials/header.ejs %>
<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Welcome To My Site</h1>
                <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
                <p>
                    <a href="/about" class="btn btn-primary my-2">About me</a>
                    <a href="/services" class="btn btn-secondary my-2">Services</a>
                </p>
            </div>
        </div>
    </section>
</main>
<% include partials/footer.ejs %>
</body>
</html>