<!-- - File Name: style.css-->
<!-- - StudentID: 301217825-->
<!-- - Student’s Name: Yang Li-->
<!-- - Date: 2021-10-1-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <!--    custom css-->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!--    bootstrap css-->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <!--    bootstrap js-->
    <script src="/javascripts/bootstrap.min.js"></script>
</head>
<body>
<% include partials/header.ejs %>
<main>
    <section>
        <div class="position-relative overflow-hidden p-3 p-md-2 m-md-2 text-center">
            <div class="col-md-5 p-lg-5 mx-auto my-5">
                <h1 class="display-4 fw-normal">Projects</h1>
                <p class="lead fw-normal">Projects I have done.</p>
            </div>
            <div class="product-device shadow-sm d-none d-md-block"></div>
            <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        </div>
        <div class="py-5 bg-light">
            <div class="d-flex flex-row justify-content-sm-around align-items-start ">
                <div class="card" style="width: 22rem;">
                    <img style="height: 15em" src="/images/project1.png" class="card-img-top text-center" alt="project1">
                    <div class="card-body">
                        <h5 class="card-title">Robot Programming</h5>
                        <p class="card-text">I took part in a robot competition in junior middle school. His main content is
                            to
                            use appropriate instructions to make the robot perfect obstacle course, which needs to do a
                            specific
                            job in a specific position. This project is my first exposure to robots and artificial
                            intelligence.
                            At first, I didn't know what to do. After asking the teacher, after many days' practice, the
                            robot
                            could correctly complete the instructions.</p>
                    </div>
                </div>
                <div class="card" style="width: 22rem;">
                    <img style="height: 15em" src="/images/project2.png" class="card-img-top text-center" alt="project1">
                    <div class="card-body">
                        <h5 class="card-title">Robot Programming</h5>
                        <p class="card-text">When I was in college, I took part in the robot team project. The content is
                            that
                            the robot can find its own route and avoid obstacles, so it must keep high speed. I am
                            responsible
                            for adjusting the evasive logic of the robot, so that it can accurately identify the shape of
                            the
                            object. In this group cooperation, we are in third place in the class.</p>
                    </div>
                </div>
                <div class="card" style="width: 22rem;">
                    <img style="height: 15em" src="/images/project3.png" class="card-img-top text-center" alt="project1">
                    <div class="card-body">
                        <h5 class="card-title">Website Programming</h5>
                        <p class="card-text">When I was in college, I made a java program with my team, including interface
                            and
                            database, front end and back end. I was responsible for the design and beautification of the
                            group
                            interface. At first, the professor did not believe that several of our students could make such
                            a
                            good grade. It was not until the teaching assistant proved that we did it after asking him many
                            times, and the professor gave us full marks.</p>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <br><br><br>
</main>
<% include partials/footer.ejs %>
</body>
</html>