/* DOCUMENT INFORMATION
	- File Name: style.css
	- StudentID: 301217825
	- Student’s Name: Yang Li
	- Date: 2021-10-1
*/
.my-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-text {
    background-color: #60b258;
    border-radius: 10px;
    color: white;
    height: 40px;
    width: 40px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.my-form {
    border: 1px dashed #dcdee2;
    border-radius: 10px;
    padding: 20px;
}

.my-footer {
    background-color: #212121;
}